tr {
  border-bottom: 1px solid #e6e4df  !important;
  padding: 0.1em 0.6em  !important;
}

table {
  width: 100%;
  margin: 0 0 10px;
  /*border-collapse: separate;*/
  border-spacing: 2px;
}

thead th {
  background: #f5f5f2;
  border: solid #bfbfba;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 12px;
}

td {
  padding: 10px 12px !important;
  text-align: left;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox;
  box-sizing: border-box;
  padding: 0.3em 0.4em 0.3em 0.5em;
  max-width: 100%;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  background: #fff;
  color: #333;
  border-radius: 2px;
  background: #fcfcfa;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  font-size: 1em;
  color: #595959;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

div#edit-actions input[type="submit"] {
  display: inline !important;
}
